services:
  broker:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:broker
    container_name: broker
    volumes:
      - ./broker:/app
    ports:
      - 5555:5555
      - 5556:5556

  proxy:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proxy
    container_name: proxy
    volumes:
      - ./proxy:/app
    ports:
      - 5557:5557
      - 5558:5558

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: cc7261:server
    volumes:
      - ./server:/app
      - ./data:/app/data
    depends_on:
      - broker
      - proxy
      - reference
    deploy:
      replicas: 3

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: cc7261:client
    stdin_open: true
    tty: true
    depends_on:
      - server

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:bot
    volumes:
      - ./bot:/app
    depends_on:
      - server
    deploy:
      replicas: 2

  reference:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:reference
    container_name: reference
    volumes:
      - ./reference:/app
    ports:
      - 5559:5559